# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.venv/
venv/
env/

# Distribution / Packaging
build/
dist/
*.egg-info/

# =========================
# Streamlit
# =========================
.streamlit/
.streamlit/secrets.toml

# =========================
# macOS
# =========================
.DS_Store
.AppleDouble
.LSOverride

# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Coverage / Testing
# =========================
.coverage
htmlcov/

# =========================
# Temporary files
# =========================
*.swp
*.swo